body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#customer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 1rem;
}
.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
#toggle_customer.hidden span:first-child,
#toggle_customer.hidden ~ * {
  display: none;
}
.toggle-btn__input {
  display: none;
}
.toggle-btn__marker {
  position: relative;
  display: block;
  width: 46px;
  height: 24px;
  background-color: #eeeeee;
  border-radius: 78px;
  transition: all 120ms ease-in;
}
.toggle-btn__marker::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #fff;
  margin: auto 0;
  transition: all 120ms ease-in;
}
.toggle-btn__input:checked + .toggle-btn__marker {
  background-color: #003566;
}
.toggle-btn__input:checked + .toggle-btn__marker::after {
  right: 26px;
}
#reset {
  margin-top: 0.5rem;
}
.color_picker_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
#red_input:checked + .toggle-btn__marker {
  background-color: rgb(255, 0, 0);
}
#green_input:checked + .toggle-btn__marker {
  background-color: rgb(0, 128, 0);
}
#blue_input:checked + .toggle-btn__marker {
  background-color: rgb(0, 0, 255);
}
.color_picker_section .toggle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#range_input {
  width: 100%;
}
